@using MVCWebApplication.Enums
@using MVCWebApplication.Models.ViewModel

@model StudyViewModel
@{
    ViewData["Title"] = "JayVerse | Studies";
}

<div>
    <h1 class="text-center">Studies</h1>

    <div class="d-flex align-items-center justify-content-between mb-3">
        <h3>Thing's I've studied</h3>
        <button class="btn btn-success" onclick="OpenRegisterModal()"><i class="fas fa-folder-plus"></i></button>
    </div>

    <table class="table dataTableDisplay">
        <thead class="text-center">
            <tr>
                <th>Origin</th>
                <th>Beginning</th>
                <th>Content</th>
                <th>Done?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model.Studies)
            {
                <tr>
                    <td>@((StudyStatus) item.Origin)</td>
                    <td>@item.Beginning.ToString("d")</td>
                    <td>@item.Content</td>
                    <td><i class="fas fa-@(item.IsFinished ? "check" : "times")-circle fa-lg" style="color:@(item.IsFinished ? "green" : "red")"></i></td>
                    <td>
                        <button class="btn btn-primary" onclick="OpenRegisterModal(@item.Id)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger" onclick="Delete(@item.Id)"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <input type="text" name="searchString" id="searchString" placeholder="Search something"/>
        <button class="btn btn-primary" onclick="searchStudy()"><i class="fas fa-search"></i></button>
        <div id="dataContainer">
        </div>
            @{Html.RenderPartial("_Studies.cshtml", Model.Studies);}
    </div>

    <!-- Modal Add Register -->
    <div class="modal fade" id="newRegModal" tabindex="-1" aria-labelledby="newRegModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newRegModalLabel">Add a new study</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

    function searchStudy(){
        let searchString = JSON.stringify({searchString: $("#searchString").val()});
        console.log(searchString)

        $.ajax({
            type: 'POST',
            url: "@Url.Action("SearchStudies","Studies")",
            contentType: "application/json; charset=UTF-8",
            dataType: "html",

            processData: false,
            data: searchString,
            success: function(response) {
                console.log(response)
                $("#dataContainer").html(response);
            }
        });
    }

    function OpenRegisterModal(id)
    {
        if(id == undefined)
            id = 0;

        $("#modal-body").load("Studies/OpenDataRegModal?id=" + id, function(){
            $('#newRegModal').modal("show");
        });

    }

    function SubmitStudy(id){
        var formData = new FormData(document.querySelector('#formAdd'));
        const studyId = id == undefined ? 0 : id;

        formData.append("Id", studyId);

        $.ajax({
            method: 'POST',
            url: 'Studies/AddNewStudy',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response){
                $('#formAdd').trigger("reset");
                $.notify(response, "success");

                setTimeout(function(){
                    location.reload();
                }, 700);
            },
            error: function(error){
                $.notify(error.responseText, "error");
            }
        });

    }

    function Delete(id)
    {
        if(confirm("Are you sure you want to delete this study register?"))
        {
            $.ajax({
                url: 'Studies/DeleteStudy',
                method: "DELETE",
                data: {
                    id
                },
                success: function(response){
                    console.log(response);
                    $.notify(response, "success");

                    setTimeout(function(){
                        location.reload();
                    }, 700);
                },
                error: function(error){
                    console.log(error.responseText);
                    $.notify(error.responseText, "error");
                }
            })
        }
    }

</script>
}