@model IEnumerable<MVCWebApplication.Models.Entertainment.Entertainment>
@{
    ViewData["Title"] = "Index";
}


<div class="d-flex align-items-center justify-content-between mb-3">
    <h1>Entertainments</h1>
    <a class="btn btn-success" onclick='OpenStandartModal("/Entertainments/AddOrEdit", "Add new register")'>
        <i class="fas fa-film"></i>
    </a>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SawAt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="mainTableContainer">
        @{
            await Html.RenderPartialAsync("_TableBody.cshtml", Model);
        }
    </tbody>
</table>