@model IEnumerable<MVCWebApplication.Models.Entertainment.Entertainment>
@using MVCWebApplication.Enums
@{
    ViewData["Title"] = "Index";
}


<div class="d-flex align-items-center justify-content-between mb-3">
    <h1>Entertainments</h1>
    <a class="btn btn-success" onclick='OpenStandartModal("/Entertainments/Create", "abluble")'>
        <i class="fas fa-film"></i>
    </a>
</div>

<table class="table dataTableDisplay text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SawAt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @((EntertainmentTypes)item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SawAt)
                </td>
                <td class="d-flex gap-1 justify-content-center">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>

</script>   
}
